@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Show Your Pets!</h1>
        <br /><br />
        <p>This website is for owners to show their pets </p>
        <p>
            In this website, you can see the species of these pets, where they are from
            , and whether they are endangered
        </p>
        <p>The purpose of this website is to rspect animals and improve the animal protection</p>
        <br /> <br /> <br /><br /><br /><br />
        <p>Source codecavailable at <a href="https://github.com/Li-Kuo/showpets">https://github.com/Li-Kuo/showpets</a></p>
    </div>
