@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Source codecavailable at <a href="https://github.com/Li-Kuo/showpets">https://github.com/Li-Kuo/showpets</a></p>
</div>
