@model ShowPets.Models.Species

@{
    ViewData["Title"] = "Create";
}

<h1>Add a species</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Species1" class="control-label"></label>
                <input asp-for="Species1" class="form-control" />
                <span asp-validation-for="Species1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEndangered" class="control-label"></label>
                <input asp-for="IsEndangered" class="form-control" />
                <span asp-validation-for="IsEndangered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

